.button {
   position: relative;
   padding: 10px 50px 10px 20px;
   color: #1a1424;
   border: 1px solid #1a1424;
   border-radius: 20px;
   cursor: pointer;
   
   &:before {
      content: '';
      height: 10px;
      width: 10px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      position: absolute;
      top: 15px;
      right: 15px;
      transform: rotate(45deg);
   }
   
   &:hover {
      background-color: #1a1424;
      color: #fff;
      &:before {
         border-color: #fff;
      }
   }

   &--first {

   }
}