.button {
   cursor: pointer;   
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   
   transition: .3s all;
   
   &--primary {
      position: relative;
      padding: 10px 50px 10px 20px;

      border: 1px solid $primary-color-button;
      border-radius: 20px;

      color: $primary-color-button;
      
      &:hover {
         background-color: $primary-color-button;
         color: #fff;
      }
   }
   
   &--secondary {
      padding: 13px 43px;
      border: 1px solid $secondary-color-button;
      border-radius: 22.5px;

      font-weight: bold;
      text-align: center;
      color: $secondary-color-button;
      &:hover {
         color: #fff;
         background-color: $secondary-color-button;
      }
   }
}