.nav {
   min-height: 110px;
   display: flex;
   flex-grow: 1;
   justify-content: space-between;
   align-items: center;
   &__list {
      &-left {
         display: flex;
      }
      &-right {
         display: flex;
      }
   }
   &__link {
      &--active {
         font-weight: bold;
         position: relative;
         &::after {
            content: '';
            background-color: black;
            height: 2px;
            width: 7px;
            position: absolute;
            bottom: 0;
         }
      }
      & + .nav__link {
         padding-left: 50px;
      }
      & a {
         color: #303030;
      }
   }
}