.review {
   padding-bottom: 40px;

   background-image: url('../img/review-bg.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color:#b58c5d;
   &__title {
      padding-top: 50px;
      color: #fff;
   }
   &__slider {
      padding-top: 35px;
   }
}