.room {
   padding-bottom: 107px;
   &__wrapper {
      position: relative;
   }
   &__title {
      padding: 60px 0;
      position: relative;
      &::before {
         content: "";
         display: block;
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         width: 269px;
         height: 2px;
         background-color: #b58c5d;
      }
   }
   &__more {
      position: absolute;
      top: 45%;
      right: 45px;

      transform: translateX(-50%);
   }
   &__cards {
      margin: 0 55px 0 30px;
      display: flex;
      @media (max-width: 922px) {
      flex-wrap: wrap;        
      }
   }
   &__inner {
      border-radius: 4px;
      border: 1px solid #dddada;

      transition: margin-top 0.3s;
   }
   &__places {
      position: absolute;
      top: -10px;
      right: 10px;

      display: flex;
      align-items: center;
      padding: 9px;
      background-color: #34c6bd;
      &-number {
         margin-left: 10px;
         color: #fff;
      }
   }
   &__item {
      margin-right: 42px;
      width: 33.3333%;
      min-width: 33.3333%;
      flex-basis: 33.3333%;

      &-photo {
         position: relative;
      }
      &-img {
         border-radius: 4px;
      }
      &-content {
         position: relative;
         z-index: 1;
         padding-left: 30px;
         padding-right: 30px;
         padding-top: 20px;
         padding-bottom: 30px;

         background-color: #fff;
         transition: margin-top .3s;
      }
      &-title {         
         font-weight: bold;
         font-size: 20px;
         line-height: 27px;      
         color: #1a1424;
      }
      &-price {
         margin-bottom: 30px;
         font-size: 18px;
         line-height: 25px;
         color: rgba(26, 20, 36, 0.9);
      }
      &-hidden {
         height: 0;
         overflow: hidden;
         transition: height .3s;
      }
      &-description {
         margin-bottom: 18px;
         font-size: 13px;
         line-height: 18px;
         color: #6C656F;
      }

      &:last-child {
         margin-right: 0;
      }

      &:hover {
         box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
         & .button--secondary {
            background-color: $secondary-color-button;         
            color: #fff;
         }
         & .room__item-content{
            margin-top: -120px;
         }
         & .room__item-hidden {
            height: 120px;
         }
      }
   }
   &__detailed {
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: $secondary-color-button;
      cursor: pointer;
   }
   &__order {
      display: flex;
      justify-content: center;
   }
}
