.slider {
   position: relative;
   &__container {
      max-width: 560px;
      margin: 0 auto;
      overflow: hidden;
   }
   &__items {
      display: flex;
      overflow: hidden;
      transition: transform .7s ease;
   }
   &__item {
      flex: 0 0 100%;
      max-width: 100%;
      color: #fff;
      text-align: center;
      &-name {
         position: relative;
         padding-bottom: 40px;
         font-weight: bold;
         font-size: 16px;
         line-height: 22px;
         &::after {
            content: "";
            display: block;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);                      
            height: 1px;
            width: 102px;
            background-color: #fff;
         }
      }
      &-text {
         width: 60%;
         margin: 0 auto;
         margin-bottom: 20px;
         font-style: italic;
         font-weight: normal;
      }
      &-rate {
         height: 15px;
         background-image: url('../../dest/img/review-stars.svg');
         background-repeat: no-repeat;
         background-position: center;
      }
      &-order {
         margin-top: 25px;
         letter-spacing: 6.8px;
      }
   }
   &__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 70px;
      width: 70px;
      background-color: transparent;
      &--prev {
         left: 10%;
         background-image: url('../../dest/img/review-button-prev.png');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
      }
      &--next {
         right: 10%;
         background-image: url('../../dest/img/review-button-next.png');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
      }
   }
}