@font-face {
   font-style: normal;
   font-family: 'Open Sans';
   font-weight: normal;
   src: url('../../dest/fonts/OpenSans-Regular.woff') format('woff'), url('../../dest/fonts/OpenSans-Regular.woff2') format('woff2');
}
@font-face {
   font-style: normal;
   font-family: 'Open Sans';
   font-weight: bold;
   src: url('../../dest/fonts/OpenSans-Bold.woff') format('woff'), url('../../dest/fonts/OpenSans-Bold.woff2') format('woff2');
}
@font-face {
   font-style: normal;
   font-family: Spectral;
   font-weight: bold;
   src: url('../../dest/fonts/Spectral-Bold.woff') format('woff'), url('../../dest/fonts/Spectral-Bold.woff2') format('woff2');
}
