@font-face {
   font-style: normal;
   font-family: Lato;
   font-weight: normal;
   src: url('../../dest/fonts/Lato-Regular.woff') format('woff'), url('../../dest/fonts/Lato-Regular.woff2') format('woff2');
}
@font-face {
   font-style: normal;
   font-family: Lato;
   font-weight: bold;
   src: url('../../dest/fonts/Lato-Bold.woff') format('woff'), url('../../dest/fonts/Lato-Bold.woff2') format('woff2');
}
@font-face {
   font-style: italic;
   font-family: Lato;
   font-weight: normal;
   src: url('../../dest/fonts/Lato-Italic.woff') format('woff'), url('../../dest/fonts/Lato-Italic.woff2') format('woff2');
}
@font-face {
   font-style: normal;
   font-family: Montserrat;
   font-weight: normal;
   src: url('../../dest/fonts/Montserrat-Regular.woff') format('woff'), url('../../dest/fonts/Lato-Regular.woff2') format('woff2');
}
@font-face {
   font-style: normal;
   font-family: Montserrat;
   font-weight: bold;
   src: url('../../dest/fonts/Montserrat-Bold.woff') format('woff'), url('../../dest/fonts/Lato-Bold.woff2') format('woff2');
}
@font-face {
   font-style: italic;
   font-family: Montserrat;
   font-weight: normal;
   src: url('../../dest/fonts/Montserrat-Italic.woff') format('woff'), url('../../dest/fonts/Lato-Italic.woff2') format('woff2');
}